@import "../variables";

.highlight {
  background: blue;
}

.our-team {
  width: 100vw;
  padding: $margin-sides;
  min-height: 50vh;
  position: relative;
  text-align: center;
  display: flex;
  justify-content: center;

  .inner-wrap {
    width: 100%;
    .our-team-tagline {
      max-width: 60%;
      margin-left: 20%;
    }

    .team-members h3{
      color: lightgrey;
    }
    .active {
      color: $midgrey;
    }
    h3 {
      &:first-of-type {
        width: 100%;
        margin-bottom: 10px;
      }
    }
    .bio-section {
      width: 100%;
      position: relative;
      height: 300px;
      background-color: red;
    }
  }

  .team-members {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
    margin-top: $margin-sides;
  }
}

.col-1 {
  column-count: 2;
  margin-top: -150px;

  .description {
    margin-top: 200px;
    padding: 50px 0 50px 50px;
  }
  .paragraph {
    padding: 0px 0 50px 50px;
  }
}

.col-2 {
  position: relative;
  z-index: $z-feed;
  float: right;
  padding: 50px 0 50px 50px;
  img {
    max-width: 100%;
  }
}

@media screen and (max-width: 1000px) {
  .our-team {
    .inner-wrap {
      .our-team-tagline {
        max-width: 100%;
        margin-left: 0%;
      }
    }
  }
}
