@import "../variables";

.contact-wrap {
  padding-left: $margin-sides;
  padding-top: $margin-sides;
  overflow: hidden;
  padding-bottom: 100px;
  .flex-wrap {
    display: flex;
    justify-content: space-between;
    position: relative;
  }

  .left-col {
    width: 50%;
    position: relative;
    padding-right: 3em;
    .tagline {
      font-family: $serif;
      // line-height: 50px;
    }
    .address {
      margin: $margin-sides 0;
    }
  }
  .right-col {
    width: 50%;
    position: relative;
  }
  .map {
    margin-top: 100px;
    width: 100%;
    position: relative;
    min-height: 300px;
  }
}

@media screen and (max-width: 1100px) {
  .contact-wrap {
    padding-left: $margin-sides-mobile;
    padding-right: $margin-sides-mobile;
    padding-top: $margin-sides-mobile;
    padding-bottom: $margin-sides;
    width: 100vw;

    .flex-wrap {
      flex-direction: column;
      width: 100%;
      .left-col {
        width: 100%;
      }
      .right-col {
        width: 100%;
        margin-top: $margin-sides;
      }
    }
    .map {
      margin-top: $margin-sides;
    }
  }
}
