@import "../variables";
@import "../mixins";

.view-investments {
  margin-top: $margin-sides;
  h3 {
    background-color: $lightblue;
    padding: 10px;
    display: inline;
  }
}

.direct-lending {
  .list-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 50px;
    margin-bottom: 100px;
    margin-left: $margin-sides;

    .list-item {
      margin-top: $margin-sides;
    }
  }
}

.transaction-wrap {
  .section-title {
    margin-bottom: 20px;
  }
  width: calc(100% - 50px);
  margin-left: $margin-sides;
  margin-bottom: 150px;
}

@media screen and (max-width: 1000px) {
  .direct-lending {
    .list-wrap {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding-bottom: 50px;
      margin-left: 0;

      .list-item {
        width: 100%;
      }
    }
    .transaction-wrap {
      margin-left: $margin-sides-mobile;
    }
  }
}
