@import "../reset";
@import "../general";
@import "../variables";

.nav-wrap {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  transition: background-color 2s;
  height: $nav-height;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $margin-sides;
  z-index: $z-nav;

  a,
  p {
    font-size: $font-size-small;
    display: block;
  }

  .name {
    .name-p {
      &:hover {
        cursor: pointer;
        // color: $lightgrey;
      }
    }
  }

  .active {
    color: $lightgrey;
  }

  .logo {
    width: 30vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    .logomark,
    .textmark {
      display: inline-block;
    }
    .textmark {
      margin-left: 1em;
      p{
        color: $darkblue;
      }
    }
  }

  .text-wrap {
    display: flex;
    width: 70vw;
    justify-content: flex-end;
    align-items: flex-start;
  }

  .nav-item {
    min-width: 120px;
    width: auto;
    padding: 15px;
    position: relative;
    line-height: 26px;
    font-family: fabrique, "Helvetica Neue Light", "Helvetica Neue", Helvetica,
      Arial, "Lucida Grande", sans-serif;
    letter-spacing: 1px;
    color: $darkblue;

    &:active,
    &:hover,
    &:focus,
    &:focus-within {
      background-color: transparent;
    }

    &.contact {
      width: auto;
    }
    .index {
      font-size: $font-size-small;
    }
    .item-title {
      font-family: $serif-italic;
      font-size: $font-size-small;
    }

    .nav-children {
      font-family: $serif-italic;
      display: none;
      position: absolute;
      margin-top: 0.7em;
      background-color: white;
      width: 100%;
      background-color: white;
      top: 0;
      left: 0;
      padding: 60px 0px 0px 0px;
      border: 1px solid $lightgrey;

      .nav-child {
        font-family: $serif-italic;
        height: 30px !important;
        padding: 0 14px;
        a {
          color: $darkblue;
          line-height: 30px !important;
        }
      }
    }
    // nav item on hover
    &:hover {
      z-index: 3;
      .expandable {
        color: $lightgrey !important;
      }
      .index {
        position: relative;
        z-index: $z-nav;
      }
      .item-title {
        position: relative;
        z-index: $z-nav;
      }
      .nav-children {
        display: block;
        a {
          color: $darkblue;
          &:hover {
            background-color: $lightblue;
          }
        }
      }
      .down {
        display: none;
      }
      .up {
        display: inline-block;
      }
    }
  }

  .logo {
    p {
      text-transform: uppercase;
      font-size: 22px;
    }
  }
}

.nav-wrap.home {
  background-color: transparent;
  transition: background-color 2s;
  color: white;
  a,
  p {
    color: white!important;
  }

  .logo{
    .textmark{
      p{
        // color: $gold!important;
      }
    }
  }


  .nav-item {
    color: white!important;
    .index{
      color: $gold;
    }
    &:hover{
      a{
        color: $darkblue!important;
      }
    }
  }

  .textmark{
    opacity: 0;
    transform: translate(0px, 5px);
  }

  .text-wrap{
    opacity: 0;
    transform: translate(0px, 5px);
  }

  .navAnimate{
    opacity: 1!important;
    transform: translate(0px, 0px);
    transition-property: transform,opacity;
    transition-duration: .4s;
    transition-timing-function: ease-in;
  }

  svg {
    .background {
      fill: white;
    }
    .sidebar-left {
      fill: $darkblue;
    }

    .sidebar-right {
      fill: $darkblue;
    }

    .center {
      fill: $darkblue;
    }
  }
}

@media screen and (max-width: 1250px) {
  .nav-wrap {
    flex-direction: column;
    align-items: flex-start;
    padding: 25px;
    padding-bottom: 100px;
    height: 125px;
    background-color: transparent;
    transition: background-color 0.5s;
    overflow-y: scroll;

    .logo {
      position: fixed;
      width: 100%;
      height: 75px;
      a,
      p {
        font-size: $font-size-nav;
      }
      .textmark {
        display: none;
        p{
          color: $darkblue!important
        }
      }
    }
    .text-wrap {
      position: relative;
      height: 100%;
      flex-direction: column;
      justify-content: flex-start;
      margin-top: 100px;
      padding-top: 1em;
      display: none;
    }

    .nav-item.expanded {
      .nav-children {
        display: block !important;
      }
    }

    .nav-item {
      padding-left: 25px;
      .item-title {
        font-size: $font-size-nav;
      }
      &:hover {
        .expandable {
          color: $darkblue;
        }
        .nav-children {
          a {
            &:hover {
              background-color: transparent;
            }
          }
        }
      }
      .nav-children {
        position: relative;
        background: transparent;
        padding: 0;
        border: none;
        display: none;
        a {
          &:hover {
            background: transparent;
          }
        }
        .nav-child {
          padding: 0;
        }
      }
      // remove hover styles

      &:hover {
        .nav-children {
          display: none;
          .nav-children {
            a {
              &:hover {
                background-color: transparent;
              }
            }
          }
        }
        .down {
          display: inline-block;
        }
        .up {
          display: none;
        }
      }
    }
  }

  .nav-wrap.home {
    color: white;
    a,
    p,
    .index,
    .item-title {
      color: $darkblue;
    }

    svg {
    }
    .nav-item{
      .index{
        color: $darkblue;
      }
    }
  }
  // expanded mobile menu
  .nav-wrap.mobile-expanded {
    height: 100vh;
    background-color: white;
    transition: background-color 0.5s;

    .logo {
      .textmark {
        display: block !important;
      }
    }
    .text-wrap {
      display: block;
      width: 100%;
      margin-bottom: 150px;
    }
  }
}
