@import "../variables";

.news-wrap {
  padding: 0 $margin-sides;
  margin-bottom: 100px;
  .news-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
    .text-left {
      display: inline-block;
      .index {
        font-size: $font-size-small;
      }
    }
    .text-right {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;
      max-width: 60%;
      .year-wrap {
        display: inline;
        margin: 0;

        h3 {
          display: inline;
          line-height: 40px;
        }

        p {
          display: inline;
          font-family: $serif;
        }
      }
      .active {
        color: $lightgrey;
      }
      h3 {
        line-height: $line-height-h1;
        display: inline-block;
        margin: 0.5em;
        font-family: $serif;
      }
    }
  }
  .item-wrap {
    margin: $margin-sides 0;
  }
  .entries {
    width: 60%;
    margin-left: 20%;
  }
}

@media screen and (max-width: 1000px) {
  .news-wrap {
    .entries {
      width: 100%;
      margin-left: 0;
    }
  }
}

@media screen and (max-width: 675px) {
  .news-wrap {
    width: 100vw !important;
    padding: 0 $margin-sides-mobile;

    .news-header {
      align-items: flex-start;
      flex-direction: column;
      .text-right {
        width: 100%;
        max-width: 100%;
        justify-content: flex-start;
        .year-wrap {
          margin-right: 0.5em;
        }
        h3 {
          margin-left: 0;
        }
      }
    }
    .year-wrap {
      margin-top: $margin-sides;
    }
  }
}
