@import "../variables";

.page-header {
  width: 100%;
  background-color: $gold;
  height: 200px;
  padding-left: $margin-sides;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  .header-info {
    color: white;
    .index {
      font-size: $font-size-small;
    }
    .title {
      h1 {
        color: white;
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .page-header {
    padding-left: $margin-sides-mobile;
    height: 150px;

    .header-info {
      .title {
        h1 {
          line-height: 65px;
        }
      }
    }
  }
}
