@import "../general";

.list-item {
  width: 100%;
  margin-top: $margin-sides;
  z-index: 3;
  h4 {
    margin: 15px 0;
  }
}

@media screen and (max-width: 1000px) {
  .list-item {
    width: 100%;
    margin: 0;
    padding: $margin-sides-mobile;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    h4 {
      margin: 5px 0;
    }
  }
}
