/*....................................SCSS VARIABLES..................................*/
@font-face {
  font-family: fabrique;
  src: url(./../../assets/fonts/lafabrique-heavy.ttf); }

@font-face {
  font-family: sectra;
  src: url(./../../assets/fonts/GT-Sectra-Fine-Book.ttf);
  font-weight: 400; }

@font-face {
  font-family: sectra-italic;
  src: url(./../../assets/fonts/GT-Sectra-Fine-Book-Italic.ttf);
  font-weight: 400; }

/*....................................................................................*/
.list-item {
  width: 50%;
  margin-top: 50px;
  z-index: 3; }

@media screen and (max-width: 1000px) {
  .list-wrap {
    width: 100%;
    margin: 0;
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; } }
