@import "../variables";

.portfolio-item {
  width: 100%;
  height: 100%;
  z-index: 3;
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  a {
    text-align: center;
    position: relative;
    z-index: 100;
    img {
      max-width: 80%;
      margin-right: 10%;
      max-height: 100%;
      margin-left: 10%;
    }
  }
  .darken {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0;
    transition: 0.25s opacity;
  }
  &:hover {
    .darken {
      opacity: 0.3;
      transition: 0.25s opacity;
    }
  }
}
