.static-map {
  width: 100%;
  aspect-ratio: 2.2;
  background: cyan;
  background-size: cover;
  background-image: url("./static-map-wide.png");
  background-position: center center;
  background-repeat: no-repeat;
}

@media only screen and (max-width: 743px) {
  .static-map {
    aspect-ratio: 1.2;
    background: cyan;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("./static-map-wide.png");
  }
}
