.slideshow {
  position: relative;
  width: 100%;
  aspect-ratio: 5 / 3;
  background: white;
}

.slide {
  position: absolute;
  inset: 0;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;

  transition: opacity 0.3s ease-in-out;
  z-index: 0;
  opacity: 0;

  video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translateX(-50%) translateY(-50%);
  }

  &.active {
    z-index: 1;
    opacity: 1;
  }
  .caption {
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-family: var(--font-serif);
    color: #ddd;
    font-style: italic;
  }
}
